body {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}
#editor {
  z-index: 1
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto 0;
  border: 1px solid black;
}

.CodeMirror {
  font-size: 24px;
  height: 100%;
}

.title {
  position: absolute;
  top: -60px;
  left: -5px;
  font-size: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(100,0,0, 0.4);
  z-index: -2
}

.sample-list {
  opacity: 0.8;
  z-index: 100;
  position: absolute;
  top: 10%;
  right: -130px;
  background-color: rgba(100,0,0, 0.4);
  width: 200px;
}
.sample-list.open {
  right: 0px;
}

.song-list {
  opacity: 0.8;
  z-index: 100;
  position: absolute;
  top: 10%;
  left: -130px;
  background-color: rgba(100,0,0, 0.4);
  width: 200px;
}
.song-list ul, .sample-list ul {
  list-style-type: none;
  text-overflow: ellipsis;
  margin: 0; padding: 0;
}
.song-list a, .sample-list li {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}
.song-list .handle {
  text-align: right;
}
.song-list.open {
  left: 0px;
}

.error-list {
  box-sizing: border-box;
  position: fixed;
  left: 10vw;
  bottom: 0;
  width: 80vw;
  height: 10vh;
  overflow: auto;
  opacity: 0.6;
  z-index: 1;
  font-family: monospace;
}
.error-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
